.isChecked
md-card{
  position: relative;
}
md-checkbox{
  margin-right: 5px;
}
h2{
  display: inline;
  font-weight: lighter;
  font-size: 1em;
}

md-card.isChecked{
  background: #f5f5f5;
}
md-card.isChecked h2{
  text-decoration: line-through;
}
.task-tool{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  text-align: right;
  background: -webkit-linear-gradient(left top, rgba(0,0,0,0), rgba(0,0,0,0.01)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(0,0,0,0), rgba(0,0,0,0.01)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(0,0,0,0), rgba(0,0,0,0.01)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.01));
}
.task-tool>a, .task-tool>button{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #9899a0;
}
