h1{
  flex: 1 1 auto;
  text-align: left;
}
tasks-list{
  margin: 1.5em auto 3.5em;
  width: 90%;
  display: block;
}
.float-tool{
  position: fixed;
  bottom: 1em;
  right: 1em;
}
@media (min-width: 45em){
  tasks-list{
    width: 70%;
  }
}
@media (min-width: 62em){
  tasks-list{
    width: 50%;
  }
}
@media (min-width: 70em){
  tasks-list{
    width: 40%;
  }
}
img{
  margin-right: 10px;
}
